@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Gör så att borders räknar in istället för ut */
*, *::before, *::after {
    box-sizing: border-box;
}

/* globala variabler, ljust tema */
:root {
    --grayscale-white: #ffffff;
    --grayscale-100: #F3F6FF;
    --grayscale-200: #EFF2FC;
    --grayscale-300: #E2E5F1;
    --grayscale-400: #D4D7E5;
    --grayscale-500: #B4B7C9;
    --grayscale-600: #9397AD;
    --grayscale-700: #565973;
    --grayscale-800: #33354D;
    --grayscale-900: #0B0F19;
    --brand-primary: #6366F1;
    --system-error: #EF4444;
    --system-success: #22C55E;
    --system-warning: #FFBA08;
    --system-info: #4C82F7;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --button-hover-color: #212250;
}

.brand-gradient {
    background: #6366F1;
    background: linear-gradient(90deg, rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(217, 70, 239, 1) 100%);
}

body {
    margin: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: var(--grayscale-700);
    background-color: var(--grayscale-white);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--grayscale-900);
}

button {
    color: var(--grayscale-white);
    background-color: var(--brand-primary);
}

header {
    height: 76px;
    width: 1320px;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto 1fr auto;

    .logo {
        display: flex;
        align-items: center;
        width: 122px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    nav {  

    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        .switch {
            font-weight: var(--font-weight-medium);
        }

        .login-button {
            background-color: var(--brand-primary);
            color: var(--grayscale-white);
            border-radius: 5px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            text-decoration: none;
            font-size: 14px;
            transition: background 0.15s ease-in-out;

            &:hover {
                background-color: var(--button-hover-color);
            }

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

/* alternativt mörkt tema, skriver över variabler från root, skrivs in i body för att ändra */
[data-theme="dark"] {

}

.hero-gradient-background {
    margin: 0;
    background: RGBA(99, 102, 241, 1);
    background: linear-gradient(350deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

img {
    width: 100%;
    height: auto;
}

.button-download {
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

    .button-area {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:    "img text" 
                            "img store";
    background-color: var(--grayscale-900);
    color: var(--grayscale-white);
    column-gap: 1rem;
    padding: 10px 20px;
    
    .download-app-text{
        grid-area: text;
        font-size: 12px;
        margin: 0;
        font-weight: var(--font-weight-bold);
        text-align: left;
    }

    .download-app-img {
        grid-area: img;
        height: 100%;
        margin: 0;
    }

    .download-app-store {
        grid-area: store;
        font-size: 20px;
        margin: 0;
        font-weight: var(--font-weight-bold);
        text-align: left;
    }
    }
}

.hero-container {
    width: 1320px;
    height: 100%;
    margin: auto;
}

.hero {
    padding-top: 6rem;

    .hero-area{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        .hero-content {

            .hero-title {
                font-weight: var(--font-weight-extrabold);
                font-size: 56px;
            }

            .hero-ingress {
                font-size: 18px;
                font-weight: var(--font-weight-regular);
            }

            .app-download-buttons {
                display: grid;
                grid-template-columns: 210px 210px;
                gap: 2rem;
                margin-top: 3rem;
            }
        }

        .hero-image {
            display: flex;
            align-items: flex-end;
        }
    }
}

.features-container {
    width: 1320px;
    height: 100%;
    margin: auto;
}

.features {
    padding-top: 6rem;

    .logo-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;

        .logo {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            border: var(--grayscale-300) solid 2px;
            border-radius: 10px;
        }
    }

    .app-features-area {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-top: 6rem;
        padding-bottom: 6rem;
        gap: 12rem;

        img {
            height: 100%;
            width: auto;
        }

        .app-features-content {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 3rem;

            .app-features-title {

                h2 {
                    font-size: 40px;
                    font-weight: var(--font-weight-extrabold);
                    margin: 0;
                }

                p {
                    font-size: 18px;
                    font-weight: var(--font-weight-regular);
                }
            }

            .app-features-grid {
                display: grid;
                grid-template-columns:  1fr 1fr;
                gap: 2rem;

                .app-features-row {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;

                    .app-features-section {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: 1rem;
                        
                        .app-features-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #6365f115;
                            border-radius: 5px;
                            height: 60px;
                            width: 60px;
                            padding: 15px;
                        }

                        .app-features-text {

                            h5 {
                                font-size: 20px;
                                font-weight: var(--font-weight-extrabold);
                                margin: 0;
                            }

                            p {
                                font-size: 16px;
                                font-weight: var(--font-weight-regular);
                            }
                        }
                    }
                }
            }
        }
    }
}

.how-does-it-work {
    background-color: var(--grayscale-100);
    padding-top: 6rem;
    padding-bottom: 6rem;

    .hdiw-container {
        width: 1320px;
        height: 100%;
        margin: auto;

        .hdiw-title {
            font-size: 20px;
            font-weight: var(--font-weight-extrabold);
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 3rem;
        }

        .hdiw-image-grid {
            display: flex;
            justify-content: space-around;
        }

        .hdiw-content {
            padding-top: 3rem;
            display: grid;
            grid-template-rows: auto auto;
            justify-content: center;
            align-items: center;

            h4 {
                font-size: 24px;
                font-weight: var(--font-weight-extrabold);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
            }

            p {
                text-align: center;
                font-size: 16px;
                font-weight: var(--font-weight-regular);
                width: 700px;
            }
        }
    }
}

.app {
    background-color: white;
    padding-top: 6rem;

    .app-container {
        width: 1100px;
        height: 100%;
        margin: auto;

        .app-area {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6rem;
            padding-bottom: 6rem;

            .app-content {
                display: grid;
                grid-template-rows: auto auto auto;

                .app-text {

                }

                h2 {
                    font-size: 32px;
                    font-weight: var(--font-weight-extrabold);
                }

                p {
                    font-size: 16px;
                    font-weight: var(--font-weight-regular);
                    display: flex;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 5px;
                    }
                }

                a {
                    background-color: var(--brand-primary);
                    color: var(--grayscale-white);
                    border-radius: 5px;
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    text-decoration: none;
                    font-size: 14px;
                    transition: background 0.15s ease-in-out;
                    width: 160px;
                    margin-top: 3rem;

                    &:hover {
                        background-color: var(--button-hover-color);
                    }
                
                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .app-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2rem;

                    .app-grid-content {
                        display: grid;
                        grid-template-rows: auto 1fr;


                        .app-grid-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #6365f115;
                            border-radius: 5px;
                            height: 60px;
                            width: 60px;
                            padding: 15px;
                        }

                        .app-grid-text {
                            font-size: 16px;
                            font-weight: var(--font-weight-regular);
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.subscribe {
    background-color: #ffffff;

    .subscribe-background {
        width: 1320px;
        height: 100%;
        margin: auto;
        background-color: var(--grayscale-100);
        border-radius: 15px;
        padding: 50px 80px;

        .subscribe-content {
            display: grid;
            grid-template-columns: auto auto;
            gap: 3rem;

            .subscribe-text-grid {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 3rem;

                .subscribe-icon {
                    height: 100%;
                    width: auto;
                    display: flex;
                    align-items: center;
                }

                .subscribe-title {
                    h4 {
                        font-size: 24px;
                        font-weight: var(--font-weight-extrabold);
                        margin: 0;
                        display: flex;
                        height: 100%;
                    }
                }
            }

            .subscribe-form {
                display: flex;
                align-items: center;
                justify-content: center;

                .form-container {
                    display: flex;

                    input {
                        width: 350px;
                        font-size: 16px;
                        font-family: "Manrope", sans-serif;
                        color: var(--grayscale-700);
                        padding-left: 45px;
                        border: var(--grayscale-400) solid 1px;
                        border-right: none;
                        border-radius: 10px 0px 0px 10px;
                        background-color: white;
                        background-image: url(../images/envelope.svg);
                        background-position: 15px 15px;
                        background-repeat: no-repeat;
                    }
                }

                a {
                    background-color: var(--brand-primary);
                    color: var(--grayscale-white);
                    border-radius: 0px 10px 10px 0px;
                    padding: 15px 15px;
                    text-decoration: none;
                    font-size: 16px;
                    transition: background 0.15s ease-in-out;
                    width: 160px;
                    margin: 0;
                    text-align: center;
                    font-weight: var(--font-weight-semibold);

                &:hover {
                    background-color: var(--button-hover-color);
                }
            
                img {
                    height: 100%;
                    width: auto;
                    }
                }
            }
        }
    }
}

footer{
    text-align: center;
    color: var(--grayscale-600);
    background-color: white;
    padding: 50px;
    font-size: 14px;
    font-weight: var(--font-weight-regular);
}

::placeholder {
    color: var(--grayscale-500);
    opacity: 1;
}

::-ms-input-placeholder {
    color: var(--grayscale-500);
    }